---
interface Props {
  class?: string;
  [x: string]: any;
}

const { class: className, ...rest } = Astro.props;
---
<div class:list={["bg-white rounded-lg shadow-md p-6", className]} {...rest}>
  <slot />
</div>